.App {
  text-align: center;
}

#root {
  width: 100%;
}

html, body {
  margin:0;
  padding:0;
}

p {
  word-break: break-word;
}

#list {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.list-item {
  display: inline;
  padding-bottom: 3px;
}

.ikoni {
  width: 80px;
  padding: 5px;
}
