#contact {
  background-color: #1F1E1C;
  padding-bottom: 40px;
  padding-top: 20px;
}

#contact2 {
  padding-bottom: 10px;
  font-size: 30px !important;
}

.contact-info {
  font-size: 16px;
}

.upper {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.lower {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding-top: 8px;
}

#source-code {
  color: white;
}



@media only screen and (min-width: 320px) and (max-width: 600px) {
  #contact2 {
    font-size: 27px !important;
  }
}

