@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header-background {
  background: url("https://schuyler.media/images/light_background.jpg");
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  position: relative;
  background-color: white;
  padding: 0;
  margin: 0;
  width: 700px;
}

#name {
  font-size: 80px;
  padding: 10px 100px 0 100px;
  font-family: 'Lato', sans-serif;
}

#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  padding: 0 0 30px 0;
  font-weight: bold;
}


/* Media queries */

@media only screen and (max-width: 600px) {
  .info-container {
    width: 80%;
  }
  #name {
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .info-container {
    min-width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .info-container {
    min-width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .info-container {
    min-width: 60%;
  }
}

