.nav-bar {
  height: 4rem;
  position: relative;
}

.nav-link {
  font-size: 18px;
  padding: 22px 30px 22px 30px;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: #EDEDEF;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav {
  height: 100%;
}

.bsLRAm a {
  margin-right: 0 !important;
}

.image-flag {
  width: 38%;
  margin: 3px;
  cursor: pointer;
  border: 0.8px solid black;
  border-radius: 3px;
}



/* Media queries */

@media only screen and (max-width: 600px) {
  .nav-link {
    padding: 15px;
  }
  .vertical-center2 {
    right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link {
    padding: 20px;
  }
}
