.nav-bar {
  height: 4rem;
  position: relative;
}

.nav-link {
  font-size: 18px;
  padding: 22px 30px 22px 30px;
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: #EDEDEF;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flags {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  width: 150px;
}

.menu {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 3%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.MuiSvgIcon-root {
  font-size: 30px !important;
  visibility: hidden;
}

nav {
  height: 100%;
}

.bsLRAm a {
  margin-right: 0 !important;
}

.image-flag {
  width: 45px;
  margin-left: 7px;
  cursor: pointer;
  border: 0.8px solid black;
  border-radius: 3px;
}



/* Media queries */


@media only screen and (max-width: 600px) {
  .vertical-center {
    display: none;
  }
  .flags {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
  }
  .MuiSvgIcon-root {
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  .nav-link {
    padding: 20px;
  }
}

