.righty {
  width: 50%;
  display: inline-block;
  background-color: blue;
}

.lefty {
  width: 50%;
  float: left;
  display: inline-block;
  background-color: red;
}

.test {
    margin-bottom: 0;
}

#work {
    background-color: #EDEDEF;
}

.carousel {
  width: 98% !important;
}
