#skills {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  padding: 40px 0 20px 0;
}

#list {
  list-style: none;
  padding-left: 80px;
  margin: 0;
}

.list-item {
  display: block;
  padding-bottom: 3px;
}

.ikoni {
  width: 80px;
}

#work {
  background-color: #EDEDEF;
  overflow:auto;
  padding-bottom: 40px;
}

.container {
  width: 31.8%;
  display: inline-block;
  height: 49%;
  border-radius: 7px;
  margin: 5px 3px 0 3px;
}

.image {
  width: 100%;
  border-radius: 7px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.left2 {
  width: 20%;
  float: left;
}

.middle2 {
  width: 36%;
  float: left;
  background-color: #EDEDEF;
  margin: 30px 0 30px 0;
}

.right2 {
  width: 33%;
  float: left;
}



